################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj/Win32/Debug
/myFirstCreativeCodingProject.vcxproj.user
